<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= titre %></title>
  <script src="/javascripts/jquery-3.4.1.min.js"></script>
  <script src="/javascripts/socket.io.js"></script>
  <link rel="stylesheet" href="/stylesheets/global.css">
  <%
    if (typeof css !== 'undefined')
    {
      css.forEach(valeur=>{
  %>
  <link rel="stylesheet" href="/stylesheets/<%= valeur %>.css">
  <%
      });
    }
  %>
</head>

<body>
  <header>
    <div id="accueil">
      <a class="up" href="./">
        <img src="/images/accueil.png">
      </a>
    </div>
    <h1>
      Ajoutez vos memos et partagez les !
    </h1>
    <div id="connexion">
      <%
				if (typeof pseudo !== 'undefined')
				{
			%>
      <h4>Connecté en tant que <%- pseudo %></h4>
      <div id="boites">
        <form action="/mesMemos">
          <input type="submit" value="Mes memos">
        </form>
        <form action="/monCompte">
          <input type="submit" value="Mon compte">
        </form>
        <form action="/deconnexion">
          <input type="submit" value="Déconnexion">
        </form>
      </div>
      <%
				}
			%>
    </div>
  </header>
  <article>