<% var titre = 'Connexion' %>
<% include head %>

<h1>Login</h1>
<%- message %>
<form method="POST" action="/connexion">
  <p>
    <label for="pseudo">Pseudo :</label>
    <input type="text" id="pseudo" name="pseudo" size="30" placeholder="Pseudo" autofocus required>
  </p>
  <p>
    <label for="motDePasse">Mot de passe :</label>
    <input type="password" id="motDePasse" name="motDePasse" size="30" placeholder="Mot de passe" pattern=".{8,32}"
      required>
  </p>
  <p>
    <input type="submit" value="Connexion">
  </p>
</form>
<form action="/inscription">
  <input type="submit" value="Inscription">
</form>

<% include foot %>