<% var css = ["memo"] %>
<% include head %>

<h1>Memos</h1>
<%- message %>
<%
memos.forEach(memo => {
%>
<% include memo %>
<%
});
%>
<form id="creation" action="creerMemo" method="POST">
    <textarea name="texte" rows="3" cols="30" placeholder="texte" maxlength="100" required></textarea><br>
    <input type="submit" value="Créer memo">
</form>

<% include foot %>