<div class="ligne">
    <div class="memo">
        <div class="droite">
            <div>
                <textarea id="<%- memo['Id'] %>" class="texteMemo" rows="3" cols="30"><%- memo['Texte'] %>
                </textarea>
            </div>
        </div>
    </div>
    <%
        if(pseudo == memo["IdCrea"])
        {
    %>
    <a class="suppr" href="/supprMemo?id=<%- memo['Id'] %>">
        <img src="/images/suppr.jpg">
    </a>
    <%
    	}
    %>
</div>