<% var titre = 'Mon compte' %>
<% include head %>

<h1>Mon compte</h1>
<%- message %>
<form action="modifierCompte" method="POST">
    <div>
        <table>
            <tr>
                <th colspan="2">Mot de passe :</th>
            </tr>
            <tr>
                <td><label for="ancienMotDePasse">Mot de passe actuel</label></td>
                <td><input type="password" id="ancienMotDePasse" name="ancienMotDePasse" size="30"
                        placeholder="Mot de passe actuel" pattern=".{8,32}" autofocus required>
                </td>
            </tr>
            <tr>
                <td><label for="motDePasse">Nouveau mot de passe</label></td>
                <td><input type="password" id="motDePasse" name="motDePasse" size="30"
                        placeholder="Nouveau mot de passe" pattern=".{8,32}" required></td>
            </tr>
            <tr>
                <td><label for="motDePasse2">Confirmer mot de passe</label></td>
                <td><input type="password" id="motDePasse2" name="motDePasse2" size="30"
                        placeholder="Confirmer mot de passe" pattern=".{8,32}" required></td>
            </tr>
        </table>
    </div>
    <input type="submit" value="modifier">
</form>
<form action="/supprUtilisateur">
    <input type="submit" value="Supprimer compte">
</form>
</article>

<% include foot %>