<% var title = 'Authentication Example' %>
<% include head %>

<h1>Login</h1>
<%- message %>
<form method="post" action="/inscription">
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password">
  </p>
  <p>
    <label>Password2:</label>
    <input type="text" name="password2">
  </p>
  <p>
    <input type="submit" value="Inscription">
  </p>
</form>

<% include foot %>